
@{
    ViewData["Title"] = "AddNewStock";
}
@model Stock

<h1>Add New Stock</h1>
<h4></h4>
<hr />

<div class="row" id="new-stock">
    <div class="col-md-8">
        <form asp-action="AddNewStock" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex justify-content-between">
                <div class="form-group col-6">
                    <label asp-for="StockStatus" class="control-label my-2"></label>
                    <input asp-for="StockStatus" class="form-control" />
                    <span asp-validation-for="StockStatus" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="StockReceiveDate" class="control-label my-2"></label>
                    <input asp-for="StockReceiveDate" class="form-control" type="date" readonly/>
                    <span asp-validation-for="StockReceiveDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-6">
                <label asp-for="ProductNumber" class="control-label my-2"></label>
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="SupplierId" class="control-label my-2"></label>
                <input asp-for="SupplierId" class="form-control" min="0" />
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary rounded">Next <i class="bi bi-arrow-right"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="mt-5">
    <a asp-action="StockList">Back to List</a>
</div>


@section Scripts{
    <script type="text/javascript">
        $('#loan-details-form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
}

