@model productsDetails.Models.Stock

@{
    ViewData["Title"] = $"Stock {Model.skuId} Update";
}

<h1>UpdateData</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="skuId" />
            <div class="form-group">
                <label asp-for="stockStatus" class="control-label"></label>
                <input asp-for="stockStatus" class="form-control" />
                <span asp-validation-for="stockStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stockTotalCost" class="control-label"></label>
                <input asp-for="stockTotalCost" class="form-control" />
                <span asp-validation-for="stockTotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supplierId" class="control-label"></label>
                <input asp-for="supplierId" class="form-control" />
                <span asp-validation-for="supplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
