@using Inventory.DTO.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Add Product";
}

@model AddProductViewModel

<body>
    <div class="card">
        <h3 class="card-header">@ViewData["title"]</h3>
        @* <form method="post" action="AddProduct" class="card-body box-shadow rounded-2">
            <div class="form-control shadow border-0 mb-2 bg-opacity-25">
                <div class="mb-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Product.productName" placeholder="Your Name Here">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-1">
                    <div class="col-6">
                        <label for="" class="form-label">NID</label>
                        <input type="text" class="form-control" asp-for="Member.NID" placeholder="Enter Your NID Number">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-11">Contact</label>
                        <input type="text" class="form-control" asp-for="Member.Phone" placeholder="Enter Your Phone Number">
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-5">
                        <label for="" class="form-label">Father Name</label>
                        <input type="text" class="form-control" asp-for="Member.FatherName" placeholder="Enter Father's Name">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label col-6">Mother Name</label>
                        <input type="text" class="form-control" asp-for="Member.MotherName" placeholder="Enter Mother's Name">
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label for="" class="form-label col-6">Date of Birth</label>
                    <input type="date" class="form-control text-secondary" asp-for="Member.DOB">
                </div>
                <div class="mb-3 d-flex justify-content-between gap-md-1">
                    <div class="col-6">
                        <label for="" class="form-label">Occupation</label>
                        <input type="text" class="form-control" asp-for="Member.Occupation" placeholder="i.e. Businessman">
                    </div>
                    <div class="col-5">
                        <label for="" class="form-label">Last Educational Degree</label>
                        <input type="text" class="form-control" asp-for="Member.Education" placeholder="i.e SSC">
                    </div>
                </div>
                <div class="mb-3 col-8">
                    <label for="" class="form-label">Institution</label>
                    <input type="text" class="form-control" asp-for="Member.Institute" placeholder="Last Educational Institution">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit Details</button>
        </form> *@
    </div>
</body>